body {
 background-color: #e6e6e6;

}

.bg-light {
    background-color: #4e4c49!important;
    height: 120px;
    font-weight: bold;
}

#navbarNav {
    background-color: #4e4c49;

}

.navbar-light .navbar-brand {
    color: white;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    font-family: 'Major Mono Display', monospace;
    font-size: 200%;
}




.top-header {
background-image: url(../images/jumbo1.jpg);
background-size: cover;
background-repeat: no-repeat;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
}

.jumboCall {

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 500%;
    font-weight: bold;
}

.lead {
    font-weight: 1000;
    font-weight: bold;
}

.card {
    font-family: 'Open Sans Condensed', sans-serif;
    opacity: 0.90;

}

.btn-primary{

    background-color: #4e4c49;
    border: 0ch;
}

.bottom-footer  {
    background-image: url(../images/jumbo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
.footer {
    
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #4e4c49;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:125%;
    
  }
  
  .text-muted {
    color: white!important;
}
